.boardContainer{
    box-sizing: border-box;
    border: solid black .1rem;
    width:fit-content;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,10rem);
    justify-self: center;
}

.card{
    font-size: 10rem;
}

.cardDisplay{
    border: .1rem black;
}

.blank{
    box-sizing: border-box;
    border: solid black .1rem;
    background-color: rgb(216, 215, 215);
    height: 10rem;
}

